<p id="notice"><%= notice %></p>

<section class="view_article_section">
  <div class="view_article_container">
    <h1><%= @book_article.title %></h1>
    <%= image_tag @book_article.image.url %>
    <p>
      <%= @book_article.text %>
    </p>
  </div>
</section>

